body{
  background-color: #f2edd1;
}
h1{
  color: #1f4259;
}
label{
  color: #329ea5;
  width: 150px;
  text-align: right;
  padding-right: 5px;
}
h1 i{
  margin-right: 5px;
}
button{
  margin: 15px 0;
}
.contain{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.first{
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
div{
  margin: 10px 0;
  display: flex;
}
a{
  text-decoration: none;
  color: #329ea5;
}
.hide{
  display: none;
}
