*{
  box-sizing: border-box;
}
body{
  background-image: url(../img/fond.png);
  background-repeat: repeat;
  padding-top: 80px;
  margin: 0;
  font-family: 'open sans',serif;
  line-height: 1.6
}

/*entête*/
header{
  background-color: #25b3b4;
  text-align: center;
  border-top: 5px solid #199e9e;
  border-bottom: 5px solid #199e9e;
  color: white;
}
header img{
  max-width: 800px;
}
header nav a{
  text-decoration: none;
  margin: 0 18px;
  color: #fff;
  font-family: 'Slabo 27px', serif;
  font-size: 1.5rem;
  display:inline-block;
  transition: all 0.3s;
  padding-bottom: 2%
}
header nav a:hover{
  background-color: rgba(255,255,255,0.8);
}

/*article 1*/
main{
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}
section{
  text-align: center;
  margin-bottom: 4em;
  color: #424953;
}
h1{
  font-weight: lighter;
  font-family: 'Slabo 27px', serif;
  font-size: 2.5em;
}

/*bloc de gauche*/
h2{
  font-size: 2em;
  font-family: 'Slabo 27px', serif;
  font-weight: lighter;
  margin-bottom: 0;
}
h2 span{
  color: #25b3b4;
}
h3{
  font-family: 'Slabo 27px', serif;
  font-weight: lighter;
}
article p{
    padding: none;
    font-size: 13px;
    margin-left: 1%;
    text-align: justify;
}
article img{
  border-radius: 90px;
  width: 80px;
  float: left;
  margin: 3%;
}
article a{
  text-decoration: none;
  padding: 5%;
  color: #fff;
  font-family: 'Slabo 27px', serif;
  font-size: 1rem;
  background-color: #25b3b4;
  float: right;
  display: block;
}

/*block de droite*/
aside{
  background-color: #25b3b4;
  width: 38%;
  display: inline-block;
  vertical-align: top;
  border: 5px solid #199e9e;
  color: #fff;
  padding-left: 2%;
  padding-right: 2%;
}
aside h2{
  font-size: 1.4em;
  color: rgba(255,255,255,0.7);
  margin-bottom: 1%;
}
h2 em{
  color:white;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
}
aside img{
  float:right;
  margin: -18%;
  width: 54%;
}
ul{
  list-style-type: none;
  padding: 0;
}
aside a{
  text-decoration: none;
  padding: 2%;
  color: rgba(255,255,255,0.7);
  font-family: 'Slabo 27px', serif;
  font-size: 1rem;
  margin-bottom: 1em
}
aside p{
  margin-top: 0;
}
footer{
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  margin-top: 0;
}
footer img{
  width:60px;
}
.intro{
  background-color: #bce7ec;
  overflow: hidden;
  text-align: center;
  width: 60%;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 3%

}
.intro article{
  display: inline-block;
  width: 44%;
  padding: 0;
  padding-bottom: none;
  vertical-align: top;
  margin: 2%;
}
.intro .multifish{
  margin: none;
  padding: none;
}
.fa.fa-anchor{
  color: #25b3b4;
  margin: 2%;
}
.fa.fa-hand-paper-o{
  margin-left: 6px;
  background-color: #fff;
  color: #25b3b4;
  border-radius: 90%;
  padding: 2px;
}
.toto{
  margin-left: 10%;
  margin-right: 10%;
}
.fa.fa-envelope-open-o{
  color: rgba(255,255,255,0.7);
}
