*{
  box-sizing: border-box;
  max-width: 1000px;
}
body{
    font-family: "Playfair Display", sans-serif;
    margin: 0;
}
header{
    background-image: url(../img/fond.jpg);
    background-size: cover;
    text-align: center;
    color : #fff;
    background-repeat: no-repeat;
    background-position: center bottom;
}

nav{
  background-color: rgba(255,255,255,0.5);
  font-size: 1.5em;
}
nav a{
  text-decoration: none;
  font-family: "kaushan Script", sans-serif;
  margin: 2%;
  color : #fff;
  display: inline-block;
  margin-bottom: 2%;
}
nav .fa{
   display: block;
 }
header p{
  background-color: rgba(255,255,255,0.3);
  margin: 0;
  padding: 1% 0;
}
span{
  text-transform: uppercase;
}
h1{
  font-family: "kaushan Script", sans-serif;
  padding-bottom: 20%;
  padding-top: 6%;
  font-size: 2em;
  font-weight: lighter;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);/*pour mettre du floue derrière le texte*/
}
main{
  text-align: center;
  font-weight: normal;
}
h2{
  color: rgb(36,48,53,1);
}
